###################################################################################################
#Ignore Secrets
###################################################################################################
secrets.yaml
.HA_VERSION
.cloud
.storage

#Ignore Database
home-assistant_v2.db
home-assistant_v2.db.corr*

# Logs
logs
*.log
# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json
life360.sh
.ip_authenticated.yaml
ip_bans.yaml
.config_entries.json
*.google.token
.google.token
.ring_cache.pickle
.spotify-token-cache
.storage
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*
known_devices.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
SERVICE_ACCOUNT.json
components
deps
tts

custom_components/hacs
downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
.cloud
*.pickle
.pc-session
google*.deb
.homekit.state

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
#!.gitignore
#!*.md

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml


.cloud
.config_entries.json
deps/
gactions
home-assistant.log
home-assistant_v2.db
html5_push_registrations.conf
.ignore
includes/zones
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
tts/
zwcfg_0xe32a7bcc.xml
zwscene.xml
.shopping_list.json
zones.yaml
